{% extends "layout.html" %}

{% block title %} ● Register{% endblock  %}

{% block content %}




<div class="max-w-sm mx-auto">
  {% if messages %}
  {% for message in messages %}
    {% if message.tags == "success" %}
      <div class="max-w-md mx-auto my-4 p-4 bg-green-500 border-l-4 border-green-700 text-white rounded-lg shadow-md transform transition duration-300 hover:scale-105 animate-slide-in" role="alert">
        <p class="font-semibold text-lg">{{ message }}</p>
      </div>
    {% else %}
      <div class="max-w-md mx-auto my-4 p-4 bg-red-500 border-l-4 border-red-700 text-white rounded-lg shadow-md transform transition duration-300 hover:scale-105 animate-slide-in" role="alert">
        <p class="font-semibold text-lg">{{ message }}</p>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}



<div class="mt-1 w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
  <form class="space-y-6" method="post">
    {% csrf_token %}
    <h5 class="text-xl font-medium text-gray-900 dark:text-white">Create a new account</h5>
    <div>
      <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
      <input type="text" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Enter your username" required />
    </div>
    <div>
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
      <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Enter your email" required />
    </div>
    <div>
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
      <input type="password" name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="••••••••" required />
    </div>
    <div>
      <label for="repeat-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Repeat password</label>
      <input type="password" name="password2" id="repeat-password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="••••••••" required />
    </div>
    <div class="flex items-start">
      <div class="flex items-center h-5">
        <input id="terms" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required />
      </div>
      <label for="terms" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">I agree with the <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">terms and conditions</a></label>
    </div>
    <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Register new account</button>
    <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
      Already registered? <a href="{% url 'login' %}" class="text-blue-700 hover:underline dark:text-blue-500">Login to your account</a>
    </div>
  </form>
</div>
  
</div>


{% endblock  %}
